@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}